<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {padding: 5px; border: 2px blue solid;}
    </style>
    <title>0111 django final project demo1 by JesusG</title>
</head>
<body>
    <h2><i>0111 django final project demo1</i></h2>
    <p>
        app is called ->  LittleLemonAPI <br>

    </p>
</body>
</html>