<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        p {padding: 5px; border: 2px blue solid;}
    </style>
    <title>0111 django final project demo1 by JesusG</title>
</head>
<body>
    <h2><i>0111 django final project demo1</i></h2>
    <p>
        app is called ->  LittleLemonAPI <br>
        <br>
        <br>
        to install simplejwt <br>---------------<br>
        >> pipenv install djangorestframework-simplejwt
        <br>
        <br>
        __#ex2 on pycharm packages <br>
        >> djangorestframework-simplejwt   <br>
        <br>
        <br>
    </p>
    <p>
        ___#0111 admin site login info: <br>-------------------<br>
        user -> admin111 <br>
        password -> sav$-HK4 <br>
        email -> admin111@example.com <br>
    </p>
    <p>
        __#0112 to show dependancy tree for packages have on pipenv <br>---------------------<br>
        >> pipenv graph <br>
        <br>
    </p>
    <p>
        w3 intro to djoser library for better authentication <br>
        list of djoser endpoints <br>
        /users/ <br>
        /users/me <br>
        /users/confirm/ <br>
        /users/resend_activation <br>
        /users/set_password/ <br>
        /users/set_password_confirm/ <br>
        /users/set_username/ <br>
        /users/reset_username/ <br>
        /users/reset_username_confirm/ <br>
        /token/login/ <br>
        /token/logout/ <br>
        <br>
        <br>
        ____# access these urls with:<br>
        >> http://127.0.0.1:8000/auth
    </p>
    <p>
        Grading criteria: <br>--------------------# admin <br>
1.  The admin can assign users to the manager group <br>
<br>
2.	You can access the manager group with an admin token <br>
<br>
3.	The admin can add menu items <br>
<br>
4.	The admin can add categories <br>
<br>
______# managers <br>
5.	Managers can log in <br>
<br>
6.	Managers can update the item of the day <br>
<br>
7.	Managers can assign users to the delivery crew <br>
<br>
8.	Managers can assign orders to the delivery crew <br>
        <br>
______# delivery crew <br>
9.	The delivery crew can access orders assigned to them <br>
 <br>
10.	The delivery crew can update an order as delivered <br>
<br>
______# customers <br>
11.	Customers can register <br>
<br>
12.	Customers can log in using their username and password and get access tokens <br>
<br>
13.	Customers can browse all categories <br>
<br>
14.	Customers can browse all the menu items at once <br>
<br>
15.	Customers can browse menu items by category <br>
<br>
16.	Customers can paginate menu items <br>
<br>
17.	Customers can sort menu items by price <br>
<br>
18.	Customers can add menu items to the cart <br>
<br>
19.	Customers can access previously added items in the cart <br>
<br>
20.	Customers can place orders <br>
<br>
21.	Customers can browse their own orders <br>
<br>
    </p>


</body>
</html>